<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>
            [badminton4all]badminton4all.Views.*,
            [badminton4all]*Program,
            [badminton4all]*.cshtml
          </Exclude>
          <ExcludeByFile>
            **/Views/**/*.cshtml,
            **/Views/**/*.cshtml.cs,
            **/Program.cs,
            **/wwwroot/**
          </ExcludeByFile>
          <ExcludeByAttribute>
            Obsolete,
            GeneratedCodeAttribute,
            CompilerGeneratedAttribute,
            ExcludeFromCodeCoverageAttribute
          </ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
